{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменен{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Успешно!</h2>
    <p>Ваш пароль был успешно изменен.</p>

    <div class="form-actions" style="margin-top: 20px;">
        <a href="/" class="black-button">На главную</a>
        <a href="{% url 'users:profile' %}" class="black-button">В профиль</a>
    </div>
</div>
{% endblock %}